---
name: CI
'on':
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - "*"
  schedule:
    - cron: "17 1 * * 1"


jobs:
  checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'uv'

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Run checks
        run: |
          make pre-commit
          uv sync --all-groups
          uv run -m pytest

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
