---
name: pre-commit autoupdate

on:
  schedule:
    - cron: "23 2 * * 1"
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  autoupdate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install pre-commit
        run: uv tool install pre-commit --with pre-commit-uv --force-reinstall

      - name: Run pre-commit autoupdate
        run: pre-commit autoupdate

      - name: Create PR
        uses: peter-evans/create-pull-request@v6
        with:
          commit-message: "chore(pre-commit): autoupdate"
          title: "chore(pre-commit): autoupdate"
          body: "Automated `pre-commit autoupdate`."
          branch: "chore/pre-commit-autoupdate"
          labels: dependencies
